<html lang="en">
<head>
    <title>MOTOROCTAVE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "Styles.css" >

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

</head>
<body class="hold-transition sidebar-mini">
<center> 
<br><br><br>

    <h4 class ="c1"><kbd>Add a new product</kbd></h4>
	<br><br><br>
	
                

    <form id="quickForm" action="/AddData" method = "POST" >
	
	
    <label>Engine  : </label>
    <input type ="number" placeholder="Enter Engine ID" name = "pid" ><br><br>

    <label>Type of the product : </label> &nbsp;
    <input type ="text" placeholder="Enter type" name = "type" ><br><br>

    <label>Name  : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type ="text" placeholder="Enter name" name = "sp" ><br><br>


    <label>Stock : </label> &nbsp;
    <input type ="number" placeholder="Enter quantity" name = "stock" ><br><br>


    

 
	<button type="submit" class="btn btn-success">Submit</button>


</form>

<a href ="/" class = "c2" >Home Page </a>


</center>







    
</body>
</html>